---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
---

<Layout
  title="Transtime - Soluciones de Logística Internacional Aérea, Marítima y Terrestre"
  description="Atendemos todas tus necesidades logísticas Ofrecemos un servicio de transporte internacional transparente y confiable, adaptado específicamente a tus requerimientos."
  keywords={["Aereo", "Maritimo", "Terrestre"]}
  author="Transtime"
>
  <main class="text-black">
    <div id="inicio">
      <Hero />
    </div>
    <hr class="border border-gray-500 w-full" />
    <div id="servicios">
      <Services />
    </div>
    <hr class="border border-gray-500 w-full" />
    <div id="nosotros">
      <About />
    </div>
    <hr class="border border-gray-500 w-full" />
    <div id="contacto">
      <Contact />
    </div>
  </main>
</Layout>
